[submodule "earthnet-models-pytorch"]
	path = earthnet-models-pytorch
	url = git@github.com:willh003/earthnet-models-pytorch.git
[submodule "ijepa"]
	path = ijepa
	url = git@github.com:willh003/ijepa.git
